extends layout

block content
  .container
      h2.form-signin-heading Login

      div
        a(href="/auth/md") Con vinco (propio)
      div  
        a(href="/auth/github") Con gitHub
      div  
        a(href="/auth/facebook") Con face
      